<!DOCTYPE html>
<html lang="en">



{% extends 'index.html' %}

<head>
    <meta charset="UTF-8">

    <title>{{ car.title }}</title>

</head>

{% block summary %}
<body>
<h1>{{ car.title }} - {{ car.type }} </h1>
<p> {{ car.body|safe }}</p>
<p> {{ car.created }}</p>
<p> {{ car.price }}</p>
<img src="{{ car.LImage.url }}" width="50" height="70" >



<form action="{% url 'email' %}" method="post">{% csrf_token %}


      <p><textarea name="username" rows="10" cols="100" value = "{{ car.price }}">The cat was playing in the garden.</textarea>
    <p>password:<input type="text" name="password" value="" /></p>
<button type="submit" value = 'SEND' onclick = "display();"> SEND </button>

</form>
<script>
function display()
{
alert("Message Just Sent!");
}
</script>




<div>

    </div>


</body>
{% endblock %}
</html>