<!DOCTYPE html>
<html lang="en">

{% extends 'index.html' %}
{% load static %}
{% load humanize %}
<head>

    <meta charset="UTF-8">
    <title>{{ car.title }}</title>

</head>


{% block summary %}

<style>
img.a {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover.a {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
nav {
  float: left;
  width: 30%;

}
nav.bodyA {
  float: right;
  width: 70%;

}
nav.bodyB {
  float: left;
  width: 20%;

}
</style>

<div class="section">
    <div class="container">
        <nav>
            <script type="text/javascript" language="javascript">
                function changeImage(img){
                    document.getElementById('bigImage').src=img;
                }
            </script>

           {% for Imgs in ImgOnly %}
    <p>
            <img src="{{ Imgs.LImage.url }}" alt="" width="325" height="235" id="bigImage"/>


            <div>
                <p><img class="a" src="{{ Imgs.LImage.url }}" width="70" height="70" onmouseover="changeImage('{{ Imgs.LImage.url }}')"></p>
                <p>&nbsp;</p>
            </div>
    </p>
            {% endfor %}
        </nav>

        <div class="container-fluid">
            <nav class="bodyA">
                <h1>{{ car.title }}
                    {% if car.type != 'faq' %}
                    <span>
                        - {{ car.type }} **${{ car.price|floatformat:0|intcomma }}**
                    </span>
                    {% endif %}
                </h1>
                        <br>
                        <p> {{ car.body|safe }}</p>
                        <p>Posted: {{ car.created }}</p>
            </nav>
        </div>

        <hr>

        <script>
            function display()
            {
                alert("Message Has Been Sent!");
            }
        </script>
        <nav class="bodyB">
            <form action="{% url 'email' %}" method="post">{% csrf_token %}
                <p>Your Email:<br><textarea name="custemail" rows="1" cols="30"></textarea></p>
                <p>Your Phone Number:<br><textarea name="phone" rows="1" cols="30"></textarea></p>
                <p>Email Title:<br><textarea name="topic" rows="1" cols="100">{{ car.title }}</textarea></p>
                <p>Message:<br><textarea name="body" rows="10" cols="100"></textarea></p>
                <button type="submit" value="Send" onclick="display()"> SEND </button>
            </form>
        </nav>
    </div>
</div>

{% endblock %}
</html>