<!DOCTYPE html>
<html lang="en">



{% extends 'index.html' %}

<head>
    <meta charset="UTF-8">
    <title>New Car Listing</title>

</head>

{% block summary %}
<body>

{% for Car in posts %}
    <div>

    </div>
{% endfor %}



<table class="table table-bordered">
  <thead>

  </thead>
  <tbody>
    {% for Car in pag %}

                <a href="{% url 'listing:detailListing' Car.slug%}"><h2><img src="{{ Car.LImage.url }}" width="50" height="50" > {{ Car.title }}</h2></a>


    {% endfor %}
  </tbody>
</table>

{% if pag.has_other_pages %}
  <ul class="pagination">
    {% if pag.has_previous %}
      <li><a href="?page={{ pag.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in pag.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ pag.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



</body>
{% endblock %}
</html>